{:source-paths ["src"]

 :dependencies [[reagent "1.2.0" :exclusions [cljsjs/react cljsjs/react-dom]]
                [arttuka/reagent-material-ui "5.11.12-0"]
                [district0x/cljs-ipfs-http-client "1.0.6"]
                [metosin/reitit-frontend "0.6.0"]
                [metosin/reitit-spec "0.6.0"]]

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "http://localhost:8020/js"
                :modules {:main {:entries [wejure.core]}}
                :devtools {:before-load wejure.core/stop
                           :after-load wejure.core/start
                           :http-root "public"
                           :http-port 8020}}}}
